<section class="primary-section">
    <section class="box-descripcion">
        <img src="../../../assets/James-Bond.jpg" alt="" class="img-user">
        Roberto Gomez
        <div>
            <i class="fas fa-search"></i>
            170 minutos
        </div>
    </section>
    <section class="secundary-section">
        <section class="seccion-terciaria">
            <strong class="title-section">Mis datos personales</strong>
    
            <div class="input-label">
                <label class="label">Nombre y Apellido</label>
                <input type="text" class="input" placeholder="Escriba su Nombre y Apellido">
            </div>
            <div class="input-multiples">
                <div class="input-label-medium">
                    <label class="label">Username</label>
                    <input type="text" class="input">
                </div>
                <div class="input-label-medium">
                    <label class="label">Fecha de nacimiento</label>
                    <input type="text" class="input">
                </div>
                <div class="input-label-medium">
                    <label class="label">Frec.cardíaca en reposo</label>
                    <input type="text" class="input">
                </div>
                <div class="input-label-medium">
                    <label class="label">Porcentaje de intensidad</label>
                    <input type="text" class="input">
                </div>
            </div>
        </section>
        <section class="seccion-terciaria">
            <strong class="title-section">
                Grupos musculares de preferencia
            </strong>
            <section class="box-gruposMusculares">
                <div class="button-grupoMuscular">Piernas</div>
                <div class="button-grupoMuscular">Hombros</div>
                <div class="button-grupoMuscular">Brazos</div>
                <div class="button-grupoMuscular">Pecho</div>
                <div class="button-grupoMuscular">Espalda</div>
                <div class="button-grupoMuscular">Gluteos</div>
            </section>
        </section>
        <section class="seccion-terciaria">
            <strong class="title-section">
                Dias de entrenamiento
            </strong>
        </section>
    </section>
</section>