<section class="primary-section">
    <section class="box-descripcion">
        <img src="../../../assets/James-Bond.jpg" alt="" class="img-user">
        Roberto Gomez
        <div>
            <i class="fas fa-search"></i>
            170 minutos
        </div>
    </section>
    <section class="secundary-section">
        <strong class="title-section">Mis datos personales</strong>
        <div class="third-section">
            <label class="label-input">Nombre y Apellido</label>
            <input type="text" class="inputText">
        </div>
        <div class="box-flex">
            <div class="third-section size-medium">
                <label class="label-input">Username</label>
                <input type="text" class="inputText">
            </div>
            <div class="third-section size-medium">
                <label class="label-input">Fec de nacimiento</label>
                <input type="text" class="inputText">
            </div>
        </div>
        <div class="box-flex">
            <div class="third-section size-medium">
                <label class="label-input">Frec.cardíaca en reposo</label>
                <input type="text" class="inputText">
            </div>
            <div class="third-section size-medium">
                <label class="label-input">Porcentaje de intensidad</label>
                <input type="text" class="inputText">
            </div>
        </div>
    </section>
</section>