.primary-section{
    justify-content: start;
}

.container-search{
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.routine{
    display: flex;
    background-color: var(--quaternary-color);
    border: 1px solid var(--secundary-color);
    border-radius: 15px;
    padding: 0.5em;
    font-size: 1.5rem;
    margin: 1em 3em;
    justify-content: space-between;
}

.routine-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.routine-actions{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: space-between;
}

.button-routine-little{
    margin: 2px;
    border-radius: 7px;
}

.button-search-little{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.inputText{
    width: 80%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 15px;
    font-weight: 100;
}

.edition-icon{
    color: rgb(7, 40, 148);
}

.icon{
    height: 16px;
    width:18px;
}

.icon-star{
    color: rgb(255, 196, 0);
}

.button-delete-box{
    display: flex;
    flex-direction: column;
}

.false{
    display: none;
}