.primary-section{
    justify-content: start;
}

.container-search{
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.result{
    display: flex;
    justify-content: space-between;
    background-color: var(--quinary-color);
    padding: 0.5em 1em;
    color: var(--font-color-primary);
    font-size: 2em;
    margin-bottom: 30px;
}

.routine{
    display: flex;
    background-color: var(--quaternary-color);
    border: 1px solid var(--secundary-color);
    border-radius: 15px;
    padding: 1.3em;
    font-size: 1.5rem;
    margin: 1em 3em;
    justify-content: space-between;
}

.routine-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.routine-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-routine-little{
    margin: 2px;
    border-radius: 7px;
}

.button-search-little{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.inputText{
    width: 80%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 15px;
    font-weight: 100;
}

.inputText{
    height: 40px;
}

.edition-icon{
    color: rgb(7, 40, 148);
}

.delete-icon{
    color: red;
}

.icon{
    height: 16px;
    width:18px;
}

