<section class="container-search"> 
    <input type="text" class="inputText">
    <div class="icono-input">
        <i class="fas fa-search"></i>
    </div>
</section>
<section class="primary-section">
    <section class="result">
        Resultados
        <div>
            <i class="fas fa-search"></i>
            Total: 5
        </div>
    </section>
    
    <section class="routine">
        <div class="routine-data">
            <strong>
                Rutini  
                <i class="far fa-star"></i>
            </strong>
            <span style="color: grey;">55 minutos</span>
            <p style="font-family:Arial, Helvetica, sans-serif ;">Por Horacio Guaraní</p>
        </div>
        <div class="routine-actions">
            <i class="fas fa-pen"></i>
            <i class="fas fa-trash-alt"></i>
        </div>
    </section>
</section>