<section class="container-search"> 
    <input type="text" class="inputText"
        [(ngModel)]="patronBusqueda"
        placeholder="Busque una rutina aquí"
        value={{inputEmpty}}
    >
    <button class="button-little button-search-little" (click)="buscarRutinas()">
        <i class="fas fa-search"></i>
    </button>
</section>
<section class="primary-section">
    <section class="box-descripcion">
        Resultados
        <div>
            <i class="fas fa-search"></i>
            Total: {{results.length}}
        </div>
    </section>
    <!-- | routine:patronBusqueda -->
    <section class="routine {{rutinaEliminada(routine)}} {{busquedaRealizada()}}" *ngFor="let routine of results">
        <div class="routine-data">
            <strong>
                <i class="far fa-star" [ngClass]="{'icon-star':rutinaIdeal(routine)}"></i>
                <p>{{routine.name}}</p>  
            </strong>
            <span style="color: grey;">{{routine.duration}} minutos</span>
            <p style="font-family:Arial, Helvetica, sans-serif ;">{{routine.creador.name}}</p>
        </div>
        <div class="routine-actions">
            <button class="button-little button-routine-little" *ngIf="routine.creador.username==userLogueado.username">
                <i class="fas fa-pen icon edition-icon"></i>
            </button>

            <app-delete-warning [rutina]="routine" [usuarioLogueado]="userLogueado"></app-delete-warning>
        
        </div>
    </section>
</section>