.primary-section{
    justify-content: center;
    align-items: center;
}

.secondary-container{
    width: 80%;    
}

.login-input{
    background-color: var(--secundary-color);
    border: 2px solid;
    height: 40px;
    display: flex;
}

.login-title{
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.icono-input{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: var(--secundary-color);
}

.inputText{
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.icono-input{
    height: 40px;
}

.container-input{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.icon{
    height: 16px;
    width:18px;
}

.ErrorUser-danger{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(184, 8, 8);
    border-radius: 6px;
    background-color: rgb(231, 116, 116);
    /* height: 80px; */
    width: 90%;
    padding: 10px;
    font-family: monospace;
    font-size: 1.5em;
    color: var(--font-color-primary);
}

.icon-alert-danger{
    height: 30px;
    width: 40px;
}