<section class="primary-section">
    <p class="login-title">RunApp</p>
    <div class="secondary-container">
        <p class="login-label">Usuario</p>
        <div class="login-input">
            <i class="fas fa-user logo"></i>
            <input type="text" style="width: 100%;">
        </div>
    </div>
    <div class="secondary-container">
        <p class="login-label">Contraseña</p>
        <div class="login-input">
            <i class="fas fa-key logo"></i>
            <input type="password" style="width: 100%;">
        </div>
    </div>
    <button class="button">
        Ingresar
    </button>
</section>