<section class="primary-section">
    <p class="login-title">RunApp</p>
    <div class="secondary-container">
        <p class="label-input">Usuario</p>
        <section class="container-input">
            <div class="icono-input">
                <i class="fas fa-user icon"></i>
            </div>
            <input type="text" class="inputText">
        </section>
    </div>
    <div class="secondary-container">
        <p class="label-input">Contraseña</p>
        <section class="container-input">
            <div class="icono-input">
                <i class="fas fa-key icon"></i>
            </div>
            <input type="password" class="inputText">
        </section>
    </div>
    <button class="button-big">
        Ingresar
    </button>
</section>