*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100vh;
}

:root{
    --primary-color:rgb(45, 200, 45);
    --secundary-color:rgb(89, 236, 89);
    --tertiary-color:wheat;
    --quaternary-color:rgb(251, 237, 212);
    --quinary-color:rgb(149, 143, 143);
    --font-color-primary:white;
    --font-family-primary:monospace;
}

body{
    height: 100%;
}

.primary-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--tertiary-color);
}

.box-descripcion{
    display: flex;
    justify-content: space-between;
    background-color: var(--quinary-color);
    padding: 0.5em 1em;
    color: var(--font-color-primary);
    font-size: 2em;
    margin-bottom: 30px;
}

.button-big{
    height: 50px;
    width: 100px;
    background-color: var(--primary-color);
    font-size:2rem;
    color: var(--tertiary-color);
    font-weight: 500;
    margin-top: 20px;
    border-radius: 8px;
}

.button-little{
    width: 45px;
    background-color: var(--quaternary-color);
    height: 40px;
}

.icono-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid;
}

.inputText{
    border: 1px solid;
    text-align: center;
    height: 40px;
}

.label-input{
    font-size: 2rem;
}

